<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="黄俊飞的个人简历" />
    <meta property="og:description" content="简历中可以窥豹~" />
    <meta property="og:image" content="https://auefly-video.oss-cn-guangzhou.aliyuncs.com/img/JF.png" />
    <title>黄俊飞的个人简历</title>
    <link rel="stylesheet" th:href="@{/build/assets/app.css}" href="/build/assets/app.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"/>
    <link rel="Shortcut Icon" th:href="@{/img/JF.png}">
</head>
<style>
    .color {
        color: rgb(37, 70, 101);
    }

    li {
        margin-bottom: 1rem;
    }

    .img-shadow {
        border: 1px solid black;
    }
    .img-shadow:hover {
        border: none;
        transform: scale(20, 20);
        transition-duration: 1.5s;
    }
</style>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHe','Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif; background-color: grey">
    <div class="container mx-auto p-4" style="max-width:900px; background-color: white;">
        <div class="container-wrapper">
            <div class="content-header mb-3" style="border-bottom: thick double rgb(51, 68, 78);">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="display-4 col-12 color">
                            <span class="font-weight-bold">黄</span>
                            <span class="font-weight-light">俊飞</span>
                            <span class="font-size-14 float-end">求职岗位：Java 工程师</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6 col-12">
                            <div class="mb-2">
                                <i class="bi bi-gender-male"></i>
                                <span class="text-gray font-weight-lighter">性&emsp;&emsp;别: </span>
                                <span class="">男</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="">
                                <i class="bi bi-buildings"></i>
                                <span class="text-gray font-weight-lighter">毕业大学: </span>
                                <span class="">集美大学</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6 col-12">
                            <div class="mb-2">
                                <i class="bi bi-envelope"></i>
                                <span class="text-gray font-weight-lighter">邮&emsp;&emsp;箱: </span>
                                <span class="">1075534380@qq.com</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="">
                                <i class="bi bi-telephone"></i>
                                <span class="text-gray font-weight-lighter">联系方式: </span>
                                <span class="">17359105989</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <section class="mb-3" style="border-bottom: thick solid rgb(51, 68, 78);">
                        <h4 class="font-weight-bold color mb-3">
                            <i class="bi bi-wrench-adjustable-circle-fill me-1"></i>
                            掌握技能
                        </h4>
                        <ol>
                            <li>
                                <span class="font-weight-bold">后端开发:</span>
                                <span>
                                    熟练掌握 <u><i>Java</i></u> 编程语言，使用过 <u><i>Spring Framework</i></u>，<u><i>Spring Boot</i></u>，
                                    <u><i>Spring Security</i></u> 等编写项目，研究过部分其源代码。使用过 <u><i>Thymeleaf</i></u> 模板。
                                </span>
                            </li>
                            <li>
                                <span class="font-weight-bold">数据库:</span>
                                了解 <u><i>MySQL</i></u> 语言，使用过 <u><i>JDBC</i></u>，<u><i>Mybatis</i></u>，<u><i>Jpa</i></u> 等编写过代码，知道如何用 <u><i>Flyway</i></u> 对数据库变化进行版本控制。</li>
                            <li>
                                <span class="font-weight-bold">前端开发:</span>
                                对前端 <u><i>HTML</i></u>，<u><i>CSS</i></u>，<u><i>JS</i></u> 有所了解，懂得使用 <u><i>Vite</i></u>，使用过 <u><i>BootStrap</i></u>，<u><i>JQuery</i></u>，<u><i>Jps</i></u> 编写过项目，对 <u><i>Vue</i></u> 有所了解，懂得前后端分离的方法。</li>
                            <li>
                                <span class="font-weight-bold">Docker:</span>
                                使用过 <u><i>Docker</i></u> 的 <u><i>Mysql</i></u>，<u><i>Redis</i></u> 等镜像。
                            </li>
                            <li>
                                <span class="font-weight-bold">云服务器:</span>
                                懂得简单使用云服务器，建立连接，传输文件，部署应用等。
                            </li>
                            <li>
                                了解一些基本的 <u><i>Git</i></u>, <u><i>Linux</i></u>, <u><i>Vim</i></u> 命令。
                            </li>
                        </ol>
                    </section>
                    <section class="mb-3" style="border-bottom: thick solid rgb(51, 68, 78);">
                        <h4 class="font-weight-bold color mb-3">
                            <i class="bi bi-collection-fill me-1"></i>
                            项目经历
                        </h4>
                        <ul>
                            <li>
                                <span class="font-weight-bold">个人网站：</span>
                                <p>实现基本的登录，注册，修改密码等功能，并用 Spring Security 对其进行保护。实现基本的博客文章的增删改查，实现文章的在线添加，对其中的图片进行上传保存。并最终部署至云服务器。</p>
                                <p>访问地址：<a href="http://8.134.239.156">http://8.134.239.156</a></p>
                            </li>
                            <li>
                                <span class="font-weight-bold">AI双语校对系统：</span>
                                <p>机器翻译 + ChatGPT自动润色 + 人工精确校对。帮助有出海需求的商家或企业快速输出产品文案及其他翻译、校对需求。
                                    支持将长文本自动切分成多个翻译区块，方便多人协作翻译及多人协作校对。</p>
                                <p>源码地址：<a href="https://github.com/zszdmzmm1/spring-boot-proofread">https://github.com/zszdmzmm1/spring-boot-proofread</a></p>
                            </li>
                            <li>
                                <span class="font-weight-bold">LMS在线学习系统：</span>
                                <p>
                                    国贸高新数字经济产教融合实训基地真实在用系统。
                                    基地授课老师可以上传所有授课视频和文档资源，各班级的学生可以查看老师分享并授权的所有资源。
                                    综合应用SpringBoot体系下的主流企业级技术栈，注重系统架构的可伸缩性设计，方便需求变更之后的快速响应。
                                </p>
                            </li>
                            <li>
                                <span class="font-weight-bold">游戏“我的世界”服务器搭建：</span>
                                <p>结合所学的多方面知识，通过纯 Linux 指令在云服务器部署我的世界服务端。</p>
                                <p>文章介绍地址：
                                    <a href="http://8.134.239.156/posts/78">
                                        如何利用 Linux 云服务器搭建一个简单的Minecraft服务器。
                                    </a>
                                    <span class="float-end">
                                        <span>预览：</span>
                                        <a th:href="@{/img/about/mc.gif}"><img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/mc.gif}"
                                                        src="/img/about/mc.gif" alt="我的世界服务器" width="40"></a>
                                    </span>
                                </p>
                            </li>
                            <li>
                                <span class="font-weight-bold">谷歌浏览器B站视频集合计时插件：</span>
                                <p>在B站的分p视频和视频集合界面显示所有视频剩余时间，并支持快捷键开启与关闭。</p>
                                <p>源码地址：<a href="https://github.com/zszdmzmm1/bilibili-plugin">https://github.com/zszdmzmm1/bilibili-plugin</a></p>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h4 class="font-weight-bold color mb-3">
                            <i class="bi bi-pen-fill me-1"></i>
                            个人介绍
                        </h4>
                        <ul>
                            <li>
                                <span class="font-weight-bold">概述：</span>
                                <p>热衷于接触新知识，有一定的阅读文档的经验与自我学习能力。在努力解决语言表达能力不够优秀的烦恼。希望找到一份帮助我进一步成长的工作。</p>
                            </li>
                            <li>
                                <span class="font-weight-bold">爱好：</span>
                                <p>阅读书籍，乒乓球，象棋，电子游戏。</p>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>