<div th:replace="~{backend/app :: layout(添加post, ~{fragment :: #css_content}, ~{::#main}, ~{fragment :: #js_content})}"
     xmlns:th="http://www.thymeleaf.org">
    <div id="main" class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>Create new post</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form id="post-form" method="post" action="#" th:action="@{/admin/posts}"
                                  enctype="multipart/form-data"
                                  th:object="${post}" class="mb-0">
                                <div th:replace="~{fragment::#post-form-item}"></div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>