<div th:replace="~{app :: layout(黄俊飞的个人主页, _, ~{::#site_info}, ~{::#main_content}, _)}" xmlns:th="http://www.thymeleaf.org">
    <div class="site-info text-center" id="site_info">
        <h1 class="site-title animate__animated animate__swing animate__delay-4s">zszdmzmm的个人网站</h1>
        <div id="typed-strings">
            <p class="site-subtitle lead text-muted">这是一个个人搭建的简单博客网站，记录了一些本人的学习成果与部分学习笔记。</p>
        </div>
        <span class="site-subtitle lead text-muted" id="typed"></span>
    </div>
    <div class="features" id="main_content">
        <div class="feature">
            <div class="container">
                <style>
                   .img-shadow {
                        /*box-shadow: 0px 20px 30px rgba(10, 10, 10, 0.5);*/
                        border-radius: 15px;
                        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px, rgba(0, 0, 0, 0.15) -6px 6px, rgba(0, 0, 0, 0.1) -9px 9px, rgba(0, 0, 0, 0.05) -12px 12px, rgba(0, 0, 0, 0.01) -15px 15px;
                    }

                   @media screen and (min-width:800px) {
                       .img-shadow:hover {
                           transform: scale(1.8, 1.8);
                           transition-duration: 1s;
                       }
                   }
                </style>
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-start align-self-center">
                        <h3 class="feature-title"><a href="#" th:href="@{/resume}" class="primary-link display-5 text-decoration-none">我的简历</a></h3>
                        <p class="lead text-muted">简历展现了我的我学所做，但不是我的所有。</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/resources.png}"
                                 src="/img/about/resources.png" alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-end order-1 order-lg-2 align-self-center">
                        <h3 class="feature-title"><a th:href="@{/posts}" class="primary-link display-5 text-decoration-none">我的博客</a></h3>
                        <p class="lead text-muted">我的文章记录。</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/posts.png}" src="/img/about/videos.png"
                                 alt="design">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-start order-1 order-lg-1 align-self-center">
                        <h3 class="feature-title"><a href="http://8.134.239.156/posts/78" class="primary-link display-5 text-decoration-none">我的世界服务器</a></h3>
                        <p class="lead text-muted">学习了知识后，我决定做一些以前想做却望而却步的，唯有如此，才能让我深刻的体会到了知识的价值。</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-2">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/mc.png}" alt="life">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-end order-1 order-lg-2 align-self-center">
                        <h3 class="feature-title"><a th:href="@{/posts/80}" class="primary-link display-5 text-decoration-none">B站视频剩余时间显示插件</a> </h3>
                        <p class="lead text-muted">在B站集合视频页面内显示该集合剩余播放时间。</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/docs.png}" src="/img/about/docs.png"
                                 alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-start align-self-center">
                        <h3 class="feature-title"><a href="https://github.com/zszdmzmm1?tab=repositories" class="primary-link display-5 text-decoration-none">我的GitHub</a></h3>
                        <p class="lead text-muted">我的GitHub仓库, 既是学习成果，也是学习笔记~</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid img-shadow transition-3d-hover" th:src="@{/img/about/videos.png}" alt="life">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>